:root {
    --primary-colour: #30b630;
    --primary2-colour: #186418;
    --primary3-colour: #ccf6c0;
    --secondary-colour: #eefff5;
    --accent-colour: #510b84;
    --third-colour: #261129;
}

body {
    background-color: var(--primary-colour);
}
h1, h2, h3, p {
    margin-top: 8px;
    margin-bottom: 8px;
}

.textaligncentre {
    text-align: center;
}

.siteheader {
    position: fixed;
    left: 0%;
    right: 0%;
    top: 0%;
    height: 90px;
    background-color: var(--secondary-colour);
}

.siteheadertable {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.siteheadernav {
    text-align: center;
    background-color: var(--third-colour);
    color: var(--secondary-colour);
}
.siteheadernavitem {
    text-decoration: none;
    color: var(--secondary-colour);
}
.siteheadernavitemselected {
    background-color: var(--accent-colour);
    border-radius: 4px;
}

.brandname {
    color: var(--accent-colour);
}
.brandlogo {
    height: 50px;
}
.sitemain {
    margin-top: 90px;
    height: 765px;

	display:ms-flexbox; /*compatibility for older browsers*/
	display: flex;
	-ms-flex-wrap:wrap; /*compatibility for older browsers*/
	flex-wrap:wrap;
}
.sideleft{
	-ms-flex:25%;  /*compatibility for older browsers*/
	flex:25%;
	padding:20px;
}
.sidemid{
	-ms-flex:50%;  /*compatibility for older browsers*/
	flex:50%;
	padding:20px;
}

.sideright{
	-ms-flex:5%;  /*compatibility for older browsers*/
	flex:5%;
	padding-top:20px;
	background-color: var(--primary2-colour);
    outline: 9px solid var(--primary2-colour);
    display: flex;
    justify-content: center;
    box-shadow: -10px 0px 3px var(--secondary-colour);
}
.sitemainsections {
    width: 100%;
    table-layout: fixed;
}

.sitefooter {
    position: absolute;
    left: 0%;
    right: 0%;
    bottom: 0%;
    color: var(--secondary-colour);
    background-color: var(--third-colour);
}
.sitefooteritem {
    display: flex;
    justify-content: center;
}

.social-icon {
    margin-left: 20px;
    width: 24px;
    height: 24px;
}

.default-text-colour {
    color: var(--third-colour);
}
.h-text-colour {
    color: var(--secondary-colour);
}
.p-text-colour {
    color: var(--primary3-colour);
}
.menu-text-colour, hr {
    color: var(--secondary-colour);
}

/*The dot indicator*/
.dot {
	height:15px;
	width:15px;
	margin: 0 2px;
	background-color: var(--accent-colour);
	border-radius:50%;
	display:inline-block;
	transition:background-color 0.6s ease;
    cursor: pointer;
}
.dot-select {
	height:15px;
	width:30px;
	margin: 0 2px;
    margin-top: -2px;
	background-color: var(--secondary-colour);
	border-radius:15px;
	display:inline-block;
    cursor: pointer;
}

.dot:hover {
    background-color: var(--primary3-colour);
}