:root {
    --primary-colour: #34c534;
    --primary2-colour: #1d511d;
    --secondary-colour: #eefff5;
    --accent-colour: #510b84;
    --third-colour: #261129;
}

body {
    background-color: var(--primary-colour);
}

.textaligncentre {
    text-align: center;
}

.siteheader {
    position: fixed;
    left: 0%;
    right: 0%;
    top: 0%;
    height: 115px;
    background-color: var(--secondary-colour);
}

.siteheadertable {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.siteheadernav {
    text-align: center;
    background-color: var(--third-colour);
    color: var(--secondary-colour);
}
.siteheadernavitem {
    text-decoration: none;
    color: var(--secondary-colour);
}
.siteheadernavitemselected {
    background-color: var(--accent-colour);
    border-radius: 4px;
}

.brandname {
    color: var(--accent-colour);
}
.brandlogo {
    height: 50px;
}
.sitemain {
    margin-top: 115px;
    height: 680px;
}
.sitemainsections {
    width: 100%;
    table-layout: fixed;
}

.sitefooter {
    position: absolute;
    left: 0%;
    right: 0%;
    color: var(--secondary-colour);
    background-color: var(--third-colour);
}
.sitefooteritem {
    display: flex;
    justify-content: center;
}

.social-icon {
    margin-left: 20px;
    width: 24px;
    height: 24px;
}

.default-text-colour {
    color: var(--third-colour);
}
.p-text-colour {
    color: var(--primary2-colour);
}
.menu-text-colour {
    color: var(--secondary-colour);
}